.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    margin: 0 -15px;;
    background-color: var(--main-bg-color);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.my-1{
    margin: 20px 0;
}

.my-2{
    margin: 26px 0;
}

.text-center{
    text-align: center;
}

h2{
    padding: 40px;
}